@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.inter-lobster {
    font-family: "Lobster", cursive;
 
}
/* glovel thinks */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* share thinks */

.primary-btn{
    background-color: #FF5959;
    padding: 16px 20px;
    border-radius: 5px;
    color: white;
}
.footer-btn {
    background-color: #FF5959;
    padding: 14px 43px;
    border-radius: 5px;
    color: white;
}
.primary-color {
 font-size: 2.8rem;
 font-weight: bold;
 color:black;
 text-align: center;
 margin-top: 130px;
 margin-bottom: 20px;
}

.second-color{
    font-size: 1.125rem;
    line-height: 28px;
    color:#707070;
    text-align: center;
    margin-bottom: 130px;
    
}
.second-clr{
    font-size: 1.125rem;
    line-height: 28px;
    color:#707070;
    text-align: center;

}
 /* header style */

.container{
    background: url("./images/donation1.jpg");
    background-size: cover;
    width: 1440px;
    height:670px;
    /* margin-left: 50px; */
    margin: 0 auto;
    text-align: center;
  
}

.container h1{
font-size: 4rem;
font-weight: bold;
color:white;
margin-bottom:20px;
padding-top: 174px;

}
.container p{
    font-size: 1.125rem;
    line-height: 28px;
    color:white;
    margin-bottom: 30px;
}

.today-donate{
  max-width: 1440px;
  width: 764px;
  margin: 0 auto;
  text-align: center;

}
.donate-datails{
    text-align: center;
    margin-top: 130px;
    
}
.donate-datails h1{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.donate-datails p{
    font-size: 1.125rem;
    line-height: 28px;
    color:black;
    margin-bottom: 50px;
}
.donate-card{
    display: flex;
    gap:22px;
    justify-content: center;
    font-weight: bold;

}
.card{
    color:#707070;
    font-size: 2rem;
    align-content: center;
    padding: 40px 20px;
    border-radius: 5px;
    background-color:rgba(108, 106, 106, 0.051) ;
}
.card-red{
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    padding: 44px 25px;
    border:red 1px solid;
    color: red;
    background-color:rgba(252, 35, 35, 0.43);
}
.last{
    color:#B3B3B3;
    font-size: 1rem;
    margin-top: 60px;
    line-height: 28px;
}
hr{
    border:#DADADA 1px solid;
    margin-bottom: 40px;
}

.donate-plan{
    display: flex;
    max-width: 1440px;
    width: 1116px;
    margin: 0 auto;
    gap:24px;
    
}
.card-plan-1{
     background-color: rgba(79, 157, 166, 0.1);
     padding: 63px 22px 53px;
     border:black 1px solid;
     text-align: left;
     
}
.card-plan-2{
     background-color: rgba(255, 89, 89, 0.1);
     padding: 63px 22px 53px;
     text-align: left;
    
}
.card-plan-3{
     background-color: #FFF4D6;
     padding: 63px 22px 53px;
     text-align: left;
     
}
.donation{
    
    max-width: 1440px;
    width: 1032px;
    /* margin-top: 130px; */
    margin: 0 auto;
}
.donation-description{
    align-items: center;
    align-content: center;
    
    
}

.donation-img img{
    width: 456px;
    height: 477px;
   
}
.donation-container{
    display:grid;
    gap:83px;
    margin-top: 130px;
    grid-template-columns: repeat(2,1fr);
    
}
.update  .find-box{
    max-width: 1440px;
    width: 809px;
    margin:50px auto;
    background-color:#FFF4D6;
    text-align: center;
    padding: 76px 188px;
}
.update  .find-box input{
    padding: 14px 17px;
    background-color: #D9D9D9;
}

footer .lobstar{
    background-color: black;
    text-align: center;
    color: red;
    padding: 43px;
}
footer .lobstar h3{
    font-size: 2.25rem;
    line-height: 44px;
    color:#FF5959;
    margin-bottom: 24px;
}
.lobstar p{
    font-size: .875rem;
    line-height: 28px;
    color:#707070;
    text-align: center;
}



/* for responsive */

/* Normal-device */
@media screen and ("max-width:576px") {

    
}


    
